# Use this folder to store any API tokens or other secrets
.token

# Common Secret Files
.env*
*.key
*.pem
secrets/

# MacOS
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# Python
__pycache__
.venv
