# file: python-financial-dev-requirements.txt
#
# Requirements.txt file for Financial Development Environment

# IDE
notebook
jupyter

# Jupyter Widgets (Not needed as another package has already install this)
ipywidgets

# Python Dotenv
python-dotenv

# Financial Related Packages

pandas
numpy

matplotlib

statsmodels

# Financial Data
openbb

# --- end of file --- #
