# file: python-ai-dev-requirements.txt

# Requirements.txt for AI Development Environment

# Juypter Notebook & Widgets
jupyter
notebook
ipywidgets
#python-lsp-server[all]

# Python Dotenv
python-dotenv

# LangChain
langchain
langchain-core
langchain-community

# LangChain Model Specific
langchain-anthropic
langchain-huggingface
langchain-openai
langchain-perplexity
langchain-tavily

# LangChain Databases
langchain-mongodb
langchain-neo4j

# LangChain Misc
langchain-text-splitters

# LangGraph
langgraph
langgraph-checkpoint-sqlite

# CrewAI
crewai
#crewai_tools
#crewai[tools]

# Anthropic
anthropic

# MCP
mcp-use

# Hugging Face
huggingface_hub
#huggingface_hub[tensorflow]
#huggingface_hub[torch]
#huggingface_hub[cli]

transformers
datasets
#evaluate

sentence-transformers

# Databases
pymongo

# Tools
pypdf
beautifulsoup4
tiktoken

# --- end of file --- #
