# file: python-standard-dev-requirements.txt
#
# Requirements.txt file for Standard Development Environment

# IDE

## JupyterLab (not installed)
## To use:
##   (standard) $ jupyter-lab
#jupyterlab

## Jupyter Notebook
## To use:
##   (standard) $ jupyter notebook
notebook

## Voila (not installed)
## To use:
##   (standard) $ voila
#voila

## Jupyter Widgets
ipywidgets

## Jupyter
jupyter

# Python Dotenv
# Ref: https://pypi.org/project/python-dotenv/
python-dotenv
python-dotenv[cli]

# Data Analysis Libraries
numpy
pandas
## openpyxl for reading and writing Excel files (.xlsx)
openpyxl
## xlwt for reading and writing Excel files (.xls)
xlwt

# Visualization Tools
matplotlib

# Symbolic Mathematics
# Ref: https://www.sympy.org
sympy

# SciPy
scipy

# Does not install on MacOS
#gmpy2

# Cryptography
pycryptodome
pycryptodome-test-vectors

cryptography
rsa

# HTTP Connection Tools
requests

# Replacement for Telnetlib
telnetlib3
Exscript

# Docker API
docker

# Parsers
## YAML Parser
## Ref: https://pypi.org/project/PyYAML/
PyYAML

## HTML Parser
beautifulsoup4
html5lib
lxml

# Packet Tools
scapy
#pyshark
#dpkt

# Fuzzing Libraries
## Ref: Sulley https://github.com/OpenRCE/sulley
## Ref: BooFuzz https://github.com/jtpereyda/boofuzz
boofuzz

# Encoding and decoding
base58

# Misc Library
hexdump

# Python Decompiler
#decompyle3
#decompyle6

# Image Tools
## ExifTool
# on Windows: need ExifTool from https://exiftool.org/
# on Linux: need libimage-exiftool-perl
PyExifTool

## Image Library
opencv-python

# Speech Recognition and related libraries
vosk
ffmpeg
ffmpeg-python

# PyGame
pygame

# Financial
## OpenBB
openbb
openbb-technical
## TA-Lib require the installation of C++ TA-Lib
## - Ref: https://ta-lib.org/install
TA-Lib
## FinanceToolkit
financetoolkit

# Unit Test
## Ref: https://github.com/wolever/parameterized
parameterized

# Documentation using Sphinx
sphinx
furo
sphinx_rtd_theme

# Packaging
build
twine

# --- end of file --- #
